    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/100days.png" alt="">
                    <div class="intro-text">People say New Yorkers are mean, that we’re cold and heartless. But everywhere I go, I see moments of extreme kindness. The NY I see changes day to day, reflective of what I’m feeling inside. So if I choose to be warmth and compassion, these pockets of NY kindness come flowing out in hidden interactions. Here’s my attempt to capture and share these ‪#‎100NYmoments‬.
                    </div>
                </div>
            </div>
        </div>
    </header>